@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

:root {
  --color-main: #71c6dd;
  --color-main-light: #e1f6fb;
  --color-dark: #3f4156;
  --color-dark-medium: #51546e;
  --color-dark-light: #696d97;
  --color-light: #ffffffe7;
  --color-light-medium: rgba(161, 156, 156, 0.452);
  --color-gray: #8b8b8b;
  --color-light-gray: #b2bdbd;
  --color-bg: #e8e8ee;
  --color-success: #5dd693;
  --color-error: #fc4b0b;
}
/*========== base styles ==========*/

body {
  font-family: "Ubuntu", sans-serif;
  background-color: var(--color-bg) !important;
  min-height: 100vh;
  color: var(--color-text);
  transition: color 0.5s, background-color 0.5s !important;
  line-height: 1.6 !important;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 13px !important;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 50.25% !important;
}

a {
  text-decoration: none !important;
}

/*========== components ==========*/
.container {
  max-width: 120rem;
  width: 90%;
  margin: auto;
}
.submit-btn {
  display: flex;
  justify-content: center;
}

.btn {
  background-color: var(--color-main);
  border: none !important;
  display: inline-flex !important;
  align-items: center !important;
  gap: 1rem;
  cursor: pointer !important;
  transition: all ease-in-out 0.3s !important;
  padding: 1rem 2rem !important;
  border-radius: 5px !important;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15) !important;
  font-weight: 500 !important;
}

.btn--link {
  border-radius: 0;
  padding: 0;
  color: var(--color-main);
  box-shadow: none;
}

.btn--link:hover {
  text-decoration: underline;
}

.btn--main {
  background-color: var(--color-main) !important;
  color: var(--color-dark);
  font-size: 1.5rem !important;
}

.btn:hover {
  opacity: 0.9;
  background-color: var(--color-main) !important;
}

.btn--dark {
  background-color: var(--color-dark-light);
  color: var(--color-light);
}

.btn > svg {
  fill: currentColor;
  width: 1.6rem;
  height: 1.6rem;
}

.btn--pill {
  border-radius: 10rem;
  font-size: 1.4rem;
  font-weight: 700;
  padding: 6px 2.5rem;
  color: var(--color-dark) !important;
  background: transparent;
  border: 2px solid var(--color-main);
  font-size: 1.3rem !important;
  margin: 9px !important;
}

.action-button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.avatar {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  border: 2px solid var(--color-dark-light);
}

.avatar img {
  display: block;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.avatar::after {
  content: "";
  display: block;
  position: absolute;
  background-color: var(--color-gray);
  z-index: 111;
  border-radius: 50%;
  border: 0.3rem solid var(--color-light);
}

.avatar.active::after {
  background-color: var(--color-success);
}

.avatar.avatar--small img {
  width: 2.8rem;
  height: 2.8rem;
  /* margin-right: 17px; */
}

.avatar.avatar--small:after {
  width: 0.7rem;
  height: 0.7rem;
  bottom: 0px;
  right: -6px;
  /* margin-right: 13px; */
}

.avatar.avatar--medium img {
  width: 4.6rem;
  height: 4.6rem;
  border-radius: 50%;
}

.avatar.avatar--medium:after {
  width: 1.7rem;
  height: 1.7rem;
  bottom: 0px;
  right: -6px;
}

.avatar.avatar--large img {
  display: block;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}

.avatar.avatar--large:after {
  width: 1rem;
  height: 1rem;
  bottom: 2px;
  right: 3.5px;
}

.scroll::-webkit-scrollbar {
  width: 0.6rem;
  background-color: rgb(41, 41, 46);
}

.scroll::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: var(--color-gray);
}

.dropdown-menu {
  z-index: 111;
  position: absolute;
  top: 5rem;
  right: 11.5rem;
  background: var(--color-dark-light);
  border-radius: 5px;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  display: none;
}

.dropdown-menu.show {
  display: block;
  width: max-content !important;
}

.dropdown-menu a {
  padding: 1.2rem 4rem;
  display: block;
  color: var(--color-dark);
  font-weight: 500;
  font-size: 1.4rem;
}

.dropdown-menu a:hover {
  background-color: var(--color-dark-medium);
}

.dropdown-menu > a:not(:last-child) {
  border-bottom: 1px solid var(--color-dark-medium);
}

.dropdown-menu a svg {
  fill: var(--color-light);
}

.mobile-menu {
  margin-bottom: 3rem;
}

.mobile-menuItems {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

@media screen and (min-width: 500px) {
  .mobile-menu {
    display: none;
  }
}

/*==============================
=>  Header Section
================================*/

.header {
  padding: 1.5rem;
  background-color: var(--color-light);
}

.header > .container {
  display: flex;
  gap: 9.5rem;
}

.header__logo,
.header__user {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin: 7px;
}

.header__logo > img {
  height: 3.2rem;
  width: 3.2rem;
}

.header__logo > h1 {
  font-weight: 700;
  font-size: 2rem;
  color: var(--color-dark-light);
}

.header__search > label {
  background-color: var(--color-light-medium);
  padding: 1.3rem 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 4px;
}

.header__search svg {
  fill: var(--color-gray);
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
}

.header__search input {
  width: 30rem;
  background: transparent;
  border: none;
  outline: none;
  color: var(--color-dark);
}

.icon-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: #333333;
  background: #dddddd;
  border: none;
  outline: none;
  border-radius: 50%;
}

.icon-button:hover {
  cursor: pointer;
}

.icon-button:active {
  background: #cccccc;
}

.icon-button__badge {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 25px;
  height: 25px;
  background: var(--color-dark-light);
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

@media screen and (max-width: 800px) {
  .header__search input {
    width: 20rem;
  }

  .header > .container {
    gap: 3rem;
  }
}

@media screen and (max-width: 700px) {
  .header__logo h1 {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .header__search {
    display: none;
  }
}

.header__menu {
  margin-left: auto;
  position: relative;
}

.header__menu a {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  font-weight: 500;
  text-decoration: none;
  color: var(--color-gray);
}

.header__menu img {
  height: 3.6rem;
}

.header__menu p {
  line-height: 1.2;
  /* color: #71d0eb; */
}

.header__menu span {
  font-weight: 500;
  font-size: 1.4rem;
}

.header__menu svg {
  width: 1.6rem;
  height: 1.6rem;
  fill: var(--color-dark-light);
}
.menu__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-button {
  background: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.dropdown-button:hover svg {
  fill: var(--color-main);
}

/*==============================
=>  Layout
================================*/

.layout {
  margin-top: 2.4rem;
}

.layout > .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.layout--3 > .container > div:first-child {
  flex-basis: 18%;
  max-width: 22.5rem;
}

.layout--3 > .container > div:nth-child(2) {
  flex-basis: 50%;
}

.layout--3 > .container > div:last-child {
  flex-basis: 25%;
}

.layout--2 > .container > div:first-child {
  flex-basis: 72%;
}

.layout--2 > .container > div:last-child {
  flex-basis: 25%;
}
/*========== Layout Box ==========*/

.layout__box {
  width: 90%;
  max-width: 48rem;
  min-height: 40rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -46%);
  background-color: var(--color-light);
  border-radius: 1rem;
  box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.layout__boxHeader {
  display: flex;
  padding: 1.5rem;
  /* width: 100%; */
  /* background-color: var(--color-dark-light); */
}

.layout__boxTitle {
  display: flex;
  gap: 1.5rem;
  width: 100%;
  align-items: center;
}

.layout__boxTitle h3 {
  text-transform: uppercase;
  font-weight: 500;
  color: var(--color-light);
}

.layout__boxTitle svg {
  width: 1.6rem;
  height: 1.6rem;
  fill: var(--color-main);
}

.layout__body {
  margin: 3rem;
}

@media screen and (max-width: 900px) {
  .activities,
  .topics {
    display: none;
  }

  .layout--3 > .container > div:nth-child(2) {
    flex-basis: 100%;
  }
}

/*==============================
=>  Topics
================================*/

.form__group {
  margin-bottom: 2rem;
  width: 100%;
}

.form__split {
  display: flex;
  gap: 1.5rem;
}

.form__group label {
  display: block;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.form__group input,
.form__group textarea,
.form__group select {
  background: transparent;
  border: 1px solid var(--color-dark-light);
  padding: 1rem;
  border-radius: 3px;
  width: 100%;
  color: var(--color-dark);
  font-weight: 500;
  outline: none;
}

.form__group input:focus,
.form__group textarea:focus {
  border-color: var(--color-main);
}

.form__group textarea {
  background: transparent;
  height: 10rem;
  resize: none;
}

.form__group select {
  color: var(--color-gray);
  font-weight: 400;
}

.form__group select option {
  background-color: var(--color-dark-light);
  color: var(--color-light);
  padding: 0 10rem;
}

.form__action {
  display: flex;
  justify-content: flex-end;
  gap: 3rem;
}

.form__hide {
  position: absolute;
  left: -9999px;
}

.form__avatar label {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--color-main);
  cursor: pointer;
}

.form__avatar label:hover {
  text-decoration: underline;
}

/*==============================
=>  Topics
================================*/

.topics__header {
  margin-bottom: 2rem;
}

.topics__header h2 {
  text-transform: uppercase;
  font-weight: 500;
  color: var(--color-dark-light);
}

.topics__list {
  list-style: none;
}

.topics__list li a {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
  font-weight: 500;
  color: var(--color-dark);
  transition: all 0.3s ease-in-out;
}

.topics__list li a.active,
.topics__list li a:hover {
  color: var(--color-main);
}

.topics__list li a span {
  padding: 0.5rem 1rem;
  background-color: var(--color-light);
  border-radius: 3px;
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.topics-page a:hover {
  text-decoration: underline;
}

.topics-page .topics__list li:not(:last-child) a {
  margin: 2rem 0;
  padding-bottom: 1rem;
  text-decoration: none;
  border-bottom: 1px solid var(--color-dark-medium);
}

.topics-page .header__search {
  display: block;
}

@media screen and (max-width: 500px) {
  .mobile-menu .header__search {
    display: block;
    margin-bottom: 2.4rem;
  }
}

/*==============================
=>  Room List
================================*/

.roomList__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.4rem;
}

.roomList__header h2 {
  text-transform: uppercase;
  font-weight: 500;
  color: var(--color-dark-medium);
  letter-spacing: 1px;
}

.roomList__header p {
  font-weight: 500;
  color: var(--color-dark-light);
}

/*========== Room List Room ==========*/

.roomListRoom {
  margin-bottom: 2.4rem;
  background-color: var(--color-light);
  border-radius: 1rem;
  padding: 2rem;
}

.roomListRoom__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.roomListRoom__author {
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.roomListRoom__actions {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  position: relative;
}

.roomListRoom__actions span {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--color-dark-light);
}

.roomListRoom__actions svg {
  fill: var(--color-main);

  width: 1.6rem;
  height: 1.6rem;
}

.roomListRoom__content {
  margin: 1rem 0;
}

.roomListRoom__content a {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  color: var(--color-dark);
  transition: all 0.3s ease-in-out;
}

.roomListRoom__content a:hover {
  color: var(--color-main);
}

.roomListRoom__meta {
  border-top: 1px solid var(--color-dark);
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.roomListRoom__joined {
  color: var(--color-dark-medium);
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.4rem;
  font-weight: 500;
}

.roomListRoom__joined svg {
  fill: var(--color-dark-light);
  width: 1.6rem;
  height: 1.6rem;
}

.roomListRoom__topic {
  padding: 5px 1.5rem;
  background-color: var(--color-dark-light);
  color: var(--color-main-light);
  border-radius: 5rem;
  font-weight: 500;
  font-size: 1.3rem;
}

/*==============================
=>  Activities
================================*/

.activities {
  background: var(--color-light);
  border-radius: 5px;
  overflow: hidden;
}

.activities__header h2 {
  background-color: var(--color-dark-light);
  text-transform: uppercase;
  font-weight: 500;
  padding: 1rem 1.5rem;
  color: var(--color-light);
  letter-spacing: 1px;
  font-size: 1.4rem;
}

.activities__box {
  margin: 1.5rem;
  padding: 1.5rem;
  border: 2px solid var(--color-dark-light);
  border-radius: 5px;
}

.activities__boxHeader p {
  font-size: 1.4rem;
  line-height: 1.3;
}

.activities__boxHeader p span {
  color: var(--color-gray);
  font-size: 1.2rem;
  display: block;
}

.activities__boxContent {
  margin-left: 4.2rem;
}

.activities__boxContent {
  font-size: 1.4rem;
}

.activities__boxContent a {
  color: var(--color-dark-medium);
}

.activities__boxContent p {
  color: var(--color-dark-medium);
}

.activities__boxContent a:hover {
  text-decoration: underline;
}

.activities__boxRoomContent {
  background: var(--color-bg);
  color: var(--color-dark-medium);
  padding: 1rem;
  border-radius: 5px;
  margin-top: 1rem;
  margin-left: -4.2rem;
}

.roomListRoom__actions svg {
  fill: var(--color-dark-light);
}

/*==============================
=>  Create Room
================================*/

.create-room.layout .layout__box {
  max-width: 68rem;
}

/*==============================
=>  Update Account
================================*/

.update-account.layout .layout__box {
  max-width: 68rem;
}

/*==============================
=>  Delete Item
================================*/

.delete-item.layout .layout__box {
  max-width: 68rem;
}

/*==============================
=>  Auth
================================*/

.auth__tagline {
  text-align: center;
  margin-bottom: 3rem;
  color: var(--color-main);
  font-weight: 500;
  font-size: 1.8rem;
}
.auth .layout__boxHeader {
  text-align: center;
  justify-content: center;
}

.auth__action {
  margin-top: 3rem;
  text-align: center;
}

/*==============================
=>  Settings
================================*/

.settings__avatar {
  margin-bottom: 3rem;
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.settings__avatar .avatar {
  margin: 1rem;
}

/*==============================
=>  Profile
================================*/
.profile {
  margin-bottom: 3rem;
}

.profile-user-followers {
  font-size: 1.5rem;
  color: var(--color-dark);
  font-weight: 400;
  padding: 9px;
}
.follow-btn-style {
  border-radius: 10rem;
  font-size: 1.4rem;
  font-weight: 700;
  padding: 6px 2.5rem;
  color: var(--color-main);
  background: transparent;
  border: 2px solid var(--color-main);
  padding: 3px;
}
.profile__avatar {
  text-align: center;
}

.profile .profile__info {
  text-align: center;
}
.profile_info_container {
  display: inherit;
  align-items: center;
  justify-content: center;
}

.profile__info h3 {
  font-size: 2rem;
  color: var(--color-dark);
  font-weight: 400;
}

.profile__bio {
  font-size: 1.5rem;
  color: var(--color-dark);
  font-weight: 300;
}
.profile__info p {
  color: var(--color-main);
  font-weight: 500;
  margin-bottom: 1rem;
}

.profile__about {
  margin-top: 2rem;
}

.profile__about h3 {
  text-transform: uppercase;
  color: var(--color-dark);
  margin-bottom: 0.5rem;
}

.profile-page .roomList__header {
  margin-bottom: 1.5rem;
}

.profile-page .roomList__header h2 {
  color: var(--color-dark-light);
}

/*==============================
=>  Room
================================*/

.room,
.participants {
  background: var(--color-light);
  max-height: 87.5vh;
  /* height: 80vh; */
  border-radius: 0.7rem;
  overflow: hidden;
  position: relative;
}

@media screen and (max-width: 900px) {
  .participants {
    display: none;
  }

  .layout--2 > .container > div:first-child {
    flex-basis: 100%;
  }
}

.room__top,
.participants__top {
  background: var(--color-dark-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: relative;
  z-index: 999999;
}

.room__top svg,
.thread__top svg {
  width: 1.6rem;
  height: 1.6rem;
  fill: var(--color-light);
  cursor: pointer;
}

.room__topLeft {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}

.room__topLeft h3,
.participants__top {
  text-transform: uppercase;
  font-weight: 500;
  color: var(--color-light);
}

.room__topLeft svg {
  width: 1.6rem;
  height: 1.6rem;
  fill: var(--color-light);
}

.room__topRight {
  display: flex;
  column-gap: 1em;
}

.room__topRight svg {
  fill: var(--color-main-light);
}

.room__header {
  max-height: 30vh;
  overflow-y: auto;
  position: absolute;
  width: 95%;
  background: var(--color-light);
  z-index: 999;
  top: 4.4rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

@media screen and (max-width: 500px) {
  .room__header {
    top: 4.3rem;
    padding-right: 2rem;
  }
}

.room__box {
  padding-left: 2rem;
  padding-right: 2rem;
  height: 80.5vh;
  /* overflow-y: auto; */
  padding-bottom: 0;
}

@media screen and (max-width: 500px) {
  .room__box {
    padding-left: 2.5rem;
    padding-right: 2rem;
    height: 80.5vh;
    overflow-y: auto;
    padding-bottom: 0;
  }
}

.room__info {
  display: flex;
  justify-content: space-between;
}

.room__info h3 {
  font-size: 2.4rem;
  font-weight: 500;
  color: var(--color-dark);
}

.room__hosted p {
  text-transform: uppercase;
  color: var(--color-gray);
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 2;
}

.room__author {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
  transition: all 0.3s ease-in-out;
}

.room__author:hover {
  text-decoration: underline;
}

.room__topics {
  padding: 0.5rem 1.5rem;
  background: var(--color-dark-light);
  color: var(--color-light);
  display: inline-block;
  font-size: 1.4rem;
  border-radius: 1.5rem;
  margin: 1rem 0;
}

.room__conversation {
  margin-top: 1rem;
  margin-bottom: 4rem;
  height: 64%;
}

.threads h3 {
  text-transform: uppercase;
  font-weight: 500;
  color: var(--color-gray);
}

.threads {
  background: var(--color-bg);
  border-radius: 0.7rem;
  overflow-y: auto;
  height: 100%;
  margin-top: 28vh;
  padding: 0 2rem 4rem 2rem;
}

.thread {
  border-left: 2px solid var(--color-light-medium);
  padding-left: 1rem;
  margin: 2rem 0;
  padding: 2rem;
}

.thread__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.thread__top svg {
  fill: var(--color-dark-light);
}

.thread__author {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-size: 1.4rem;
}

.thread__authorInfo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.thread__details {
  font-size: 1.4rem;
  margin-top: 0.5rem;
  color: var(--color-dark);
}

.room__message {
  padding: 4rem;
  position: absolute;
  z-index: 111;
  bottom: -23px;
  left: 0;
  right: 0;
  background: transparent;
}

.room__message > form > input {
  resize: none;
  background-color: var(--color-dark-medium);
  color: var(--color-light);
  border: none;
  outline: none;
  border-radius: 0.5rem;
  height: 4rem;
  width: 90%;
  margin-top: 0rem;
  padding: 1.2rem;
  font-size: 1.4rem;
  font-weight: 500;
  position: relative;
}

.room__message > form > input::placeholder {
  color: var(--color-light-gray);
}

.room_message_form_control {
  display: flex;
  /* padding-bottom: 13px; */
}

.room_msg_input-group-append {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0px;
}

@media (min-width: 600px) and (max-width: 800px) {
}

.participants__top span {
  color: var(--color-light);
  font-size: 1.3rem;
  text-transform: none;
}

.participants__top {
  justify-content: flex-start;
  gap: 0.5rem;
}

.participants__list {
  padding: 2rem;
  /* height: 20.5vh; */
  overflow-y: scroll;
  padding-bottom: 0;
}

.participant {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.participant p {
  color: var(--color-light-gray);
  line-height: 1.2;
}

.participant span {
  display: block;
  font-weight: 500;
  color: var(--color-main);
  font-weight: 1.4rem;
}

/* ================ Scrolling bar ============= */

.activities__container {
  /* background: #d4d1d1; */
  border-radius: 3px;
  position: sticky;
  height: 95vh;
  top: 13px;
}

.activities__container__inner {
  height: 100%;
  overflow-y: auto;
}

/* p {
  color: white;
  margin: 12px 0;
  font-size: 18px;
  font-family: sans-serif;
  letter-spacing: 0.44px;
} */

.red {
  color: #f65e5a;
}

.yellow {
  color: #fec740;
}

.blue {
  color: #2985d0;
}

.scroll-marker {
  position: absolute;
  height: 100%;
  width: 12px;
  pointer-events: none;
  top: 0;
  right: 0;
}

.scroll-marker span {
  /* markers */
  position: absolute;
  width: 100%;
}

/* scrollbar style */

.container-inner::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #2d3744;
}

.container-inner::-webkit-scrollbar {
  width: 12px;
  background-color: #2d3744;
}

.container-inner::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #4c5f74;
}

/* =========== edit proifle side bar style========== */

@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(10deg);
  }
  30% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(5deg);
  }
  70% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes sonar {
  0% {
    transform: scale(0.9);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.profile_update_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-wrapper .sidebar-wrapper,
.sidebar-wrapper .sidebar-brand > a,
.sidebar-wrapper .sidebar-dropdown > a:after,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before,
.sidebar-wrapper ul li a i,
.page-wrapper .page-content,
.sidebar-wrapper .sidebar-search input.search-menu,
.sidebar-wrapper .sidebar-search .input-group-text,
.sidebar-wrapper .sidebar-menu ul li a,
#show-sidebar,
#close-sidebar {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/*----------------page-wrapper----------------*/

/* .page-wrapper {
  height: 100vh;
} */

.page-wrapper .theme {
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 4px;
  margin: 2px;
}

.page-wrapper .theme.chiller-theme {
  background: #1e2229;
}

/*----------------toggeled sidebar----------------*/

.page-wrapper.toggled .sidebar-wrapper {
  left: 0px;
}

@media screen and (min-width: 768px) {
  .page-wrapper.toggled .page-content {
    padding-left: 300px;
  }
}
/*----------------show sidebar button----------------*/
#show-sidebar {
  position: fixed;
  left: 0;
  top: 10px;
  border-radius: 0 4px 4px 0px;
  width: 35px;
  transition-delay: 0.3s;
}
.page-wrapper.toggled #show-sidebar {
  left: -40px;
}
/*----------------sidebar-wrapper----------------*/

.sidebar-wrapper {
  width: 260px;
  height: 100%;
  max-height: 100%;
  position: fixed;
  top: 0;
  left: -300px;
  z-index: 999;
}

.sidebar-wrapper ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-wrapper a {
  text-decoration: none;
}

/*----------------sidebar-content----------------*/

.sidebar-content {
  max-height: calc(100% - 30px);
  height: calc(100% - 30px);
  overflow-y: auto;
  position: relative;
}

.sidebar-content.desktop {
  overflow-y: hidden;
}

/*--------------------sidebar-brand----------------------*/

.sidebar-wrapper .sidebar-brand {
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.sidebar-wrapper .sidebar-brand > a {
  text-transform: uppercase;
  font-weight: bold;
  flex-grow: 1;
}

.sidebar-wrapper .sidebar-brand #close-sidebar {
  cursor: pointer;
  font-size: 20px;
}
/*--------------------sidebar-header----------------------*/

.sidebar-wrapper .sidebar-header {
  padding: 20px;
  overflow: hidden;
}

.sidebar-wrapper .sidebar-header .user-pic {
  float: left;
  width: 60px;
  padding: 2px;
  border-radius: 12px;
  margin-right: 15px;
  overflow: hidden;
}

.sidebar-wrapper .sidebar-header .user-pic img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.sidebar-wrapper .sidebar-header .user-info {
  float: left;
}

.sidebar-wrapper .sidebar-header .user-info > span {
  display: block;
}

.sidebar-wrapper .sidebar-header .user-info .user-role {
  font-size: 12px;
}

.sidebar-wrapper .sidebar-header .user-info .user-status {
  font-size: 11px;
  margin-top: 4px;
}

.sidebar-wrapper .sidebar-header .user-info .user-status i {
  font-size: 8px;
  margin-right: 4px;
  color: #5cb85c;
}

/*-----------------------sidebar-search------------------------*/

.sidebar-wrapper .sidebar-search > div {
  padding: 10px 20px;
}

/*----------------------sidebar-menu-------------------------*/

.sidebar-wrapper .sidebar-menu {
  padding-bottom: 10px;
}

.sidebar-wrapper .sidebar-menu .header-menu span {
  font-weight: bold;
  font-size: 14px;
  padding: 15px 20px 5px 20px;
  display: inline-block;
}

.sidebar-wrapper .sidebar-menu ul li a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  position: relative;
  padding: 8px 30px 8px 20px;
}

.sidebar-wrapper .sidebar-menu ul li a i {
  margin-right: 10px;
  font-size: 12px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 4px;
}

.sidebar-wrapper .sidebar-menu ul li a:hover > i::before {
  display: inline-block;
  animation: swing ease-in-out 0.5s 1 alternate;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown > a:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f105";
  font-style: normal;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background: 0 0;
  position: absolute;
  right: 15px;
  top: 14px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu ul {
  padding: 5px 0;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li {
  padding-left: 25px;
  font-size: 13px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before {
  content: "\f111";
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  font-style: normal;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 10px;
  font-size: 8px;
}

.sidebar-wrapper .sidebar-menu ul li a span.label,
.sidebar-wrapper .sidebar-menu ul li a span.badge {
  float: right;
  margin-top: 8px;
  margin-left: 5px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .badge,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .label {
  float: right;
  margin-top: 0px;
}

.sidebar-wrapper .sidebar-menu .sidebar-submenu {
  display: none;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown.active > a:after {
  transform: rotate(90deg);
  right: 17px;
}

/*--------------------------side-footer------------------------------*/

.sidebar-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
}

.sidebar-footer > a {
  flex-grow: 1;
  text-align: center;
  height: 30px;
  line-height: 30px;
  position: relative;
}

.sidebar-footer > a .notification {
  position: absolute;
  top: 0;
}

.badge-sonar {
  display: inline-block;
  background: #980303;
  border-radius: 50%;
  height: 8px;
  width: 8px;
  position: absolute;
  top: 0;
}

.badge-sonar:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid #980303;
  opacity: 0;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  animation: sonar 1.5s infinite;
}

/*--------------------------page-content-----------------------------*/

.page-wrapper .page-content {
  display: inline-block;
  width: 100%;
  padding-left: 0px;
  padding-top: 20px;
}

.page-wrapper .page-content > div {
  padding: 20px 40px;
}

.page-wrapper .page-content {
  overflow-x: hidden;
}

/*------scroll bar---------------------*/

::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #525965;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #525965;
}
::-webkit-scrollbar-thumb:active {
  background: #525965;
}
::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: transparent;
}
::-webkit-scrollbar-track:active {
  background: transparent;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

/*-----------------------------chiller-theme-------------------------------------------------*/

.chiller-theme .sidebar-wrapper {
  background: #31353d;
}

.chiller-theme .sidebar-wrapper .sidebar-header,
.chiller-theme .sidebar-wrapper .sidebar-search,
.chiller-theme .sidebar-wrapper .sidebar-menu {
  border-top: 1px solid #3a3f48;
}

.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
  border-color: transparent;
  box-shadow: none;
}

.chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-role,
.chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-status,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text,
.chiller-theme .sidebar-wrapper .sidebar-brand > a,
.chiller-theme .sidebar-wrapper .sidebar-menu ul li a,
.chiller-theme .sidebar-footer > a {
  color: #818896;
}

.chiller-theme .sidebar-wrapper .sidebar-menu ul li:hover > a,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active > a,
.chiller-theme .sidebar-wrapper .sidebar-header .user-info,
.chiller-theme .sidebar-wrapper .sidebar-brand > a:hover,
.chiller-theme .sidebar-footer > a:hover i {
  color: #b8bfce;
}

.page-wrapper.chiller-theme.toggled #close-sidebar {
  color: #bdbdbd;
}

.page-wrapper.chiller-theme.toggled #close-sidebar:hover {
  color: #ffffff;
}

.chiller-theme .sidebar-wrapper ul li:hover a i,
.chiller-theme
  .sidebar-wrapper
  .sidebar-dropdown
  .sidebar-submenu
  li
  a:hover:before,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu:focus + span,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active a i {
  color: #16c7ff;
  text-shadow: 0px 0px 10px rgba(22, 199, 255, 0.5);
}

.chiller-theme .sidebar-wrapper .sidebar-menu ul li a i,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown div,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
  background: #3a3f48;
}

.chiller-theme .sidebar-wrapper .sidebar-menu .header-menu span {
  color: #6c7b88;
}

.chiller-theme .sidebar-footer {
  background: #3a3f48;
  box-shadow: 0px -1px 5px #282c33;
  border-top: 1px solid #464a52;
}

.chiller-theme .sidebar-footer > a:first-child {
  border-left: none;
}

.chiller-theme .sidebar-footer > a:last-child {
  border-right: none;
}

/* ---------------custom toast -------------------- */

#toast {
  visibility: hidden;
  max-width: 50px;
  height: 50px;
  /*margin-left: -125px;*/
  margin: auto;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;

  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  bottom: 30px;
  font-size: 17px;
  white-space: nowrap;
}
#toast #img {
  width: 50px;
  height: 50px;

  float: left;

  padding-top: 16px;
  padding-bottom: 16px;

  box-sizing: border-box;

  background-color: #111;
  color: #fff;
}
#toast #desc {
  color: #fff;

  padding: 16px;

  overflow: hidden;
  white-space: nowrap;
}

#toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 2s,
    fadeout 0.5s 2.5s;
  animation: fadein 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 4s,
    fadeout 0.5s 4.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes expand {
  from {
    min-width: 50px;
  }
  to {
    min-width: 350px;
  }
}

@keyframes expand {
  from {
    min-width: 50px;
  }
  to {
    min-width: 350px;
  }
}
@-webkit-keyframes stay {
  from {
    min-width: 350px;
  }
  to {
    min-width: 350px;
  }
}

@keyframes stay {
  from {
    min-width: 350px;
  }
  to {
    min-width: 350px;
  }
}
@-webkit-keyframes shrink {
  from {
    min-width: 350px;
  }
  to {
    min-width: 50px;
  }
}

@keyframes shrink {
  from {
    min-width: 350px;
  }
  to {
    min-width: 50px;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 60px;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 60px;
    opacity: 0;
  }
}

/* ======== update user ========== */

.profile-app__KJyN {
  -webkit-font-smoothing: antialiased;
}

.content-wrapper {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 100%;
}

.header__NyBc {
  margin-top: -30px;
  height: 275px;
}

:selection {
  color: #fff;
  background: #1890ff;
}

.header__NyBc .bg-wrapper__teZt {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 387px;
  width: 100%;
  overflow: hidden;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (min-width: 768px) {
  .container {
    position: relative;
  }
}

.header__NyBc .container__28Ei {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 65px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.btn-group:after,
.btn-group:before,
.btn-toolbar:after,
.btn-toolbar:before,
.clearfix:after,
.clearfix:before,
.container-fluid:after,
.container-fluid:before,
.container:after,
.container:before,
dd:after,
dd:before,
.form-group:after,
.form-group:before,
.modal-footer:after,
.modal-footer:before,
.modal-header:after,
.modal-header:before,
.nav:after,
.nav:before,
.navbar-collapse:after,
.navbar-collapse:before,
.navbar-header:after,
.navbar-header:before,
.navbar:after,
.navbar:before,
.pager:after,
.pager:before,
.panel-body:after,
.panel-body:before,
.row:after,
.row:before {
  display: table;
  content: " ";
}

.btn-group:after,
.btn-toolbar:after,
.clearfix:after,
.container-fluid:after,
.container:after,
dd:after,
.form-group:after,
.modal-footer:after,
.modal-header:after,
.nav:after,
.navbar-collapse:after,
.navbar-header:after,
.navbar:after,
.pager:after,
.panel-body:after,
.row:after {
  clear: both;
}

.header__NyBc .background__26YF {
  position: absolute;
  width: 100%;
  height: 100%;
  background: -o-linear-gradient(240deg, #222222 15%, #373737 70%, #3c4859 94%);
  background: linear-gradient(-150deg, #222222 15%, #373737 70%, #3c4859 94%);
}

.avatar-base__19M6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  text-align: center;
  position: relative;
}

.user-info__2aLr {
  overflow: hidden;
  margin-left: 20px;
  margin-right: 20px;
}

.user-info__2aLr .name__3EWH {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.user-info__2aLr .leetcodeId__13b9 {
  color: #797979;
  font-size: 12px;
}

.user-info__2aLr .leetcodeId__13b9 img {
  border: 0;
  vertical-align: middle;
  border-style: none;
}

.avatar__2sMj {
  cursor: pointer;
  height: 140px;
  width: 140px;
  border: 5px solid white;
  border-radius: 15px;
}

.user-info__2aLr .name__3EWH .container__1Mii {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 90%;
}

.user-info__2aLr .name__3EWH .right-side__3zuc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 0px;
  flex: 1 0 0px;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.user-info__2aLr .name-text__1-NA {
  color: white;
  font-size: 24px;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.user-info__2aLr .public__2p3C {
  margin-left: 8px;
  font-size: 16px;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-external-link:before {
  content: "\f08e";
}

.profile-app__KJyN {
  -webkit-font-smoothing: antialiased;
}

.content-wrapper {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 100%;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (min-width: 768px) {
  .container {
    position: relative;
  }
}

.nav__29df {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  position: relative;
}

.btn-group:after,
.btn-group:before,
.btn-toolbar:after,
.btn-toolbar:before,
.clearfix:after,
.clearfix:before,
.container-fluid:after,
.container-fluid:before,
.container:after,
.container:before,
dd:after,
dd:before,
.form-group:after,
.form-group:before,
.modal-footer:after,
.modal-footer:before,
.modal-header:after,
.modal-header:before,
.nav:after,
.nav:before,
.navbar-collapse:after,
.navbar-collapse:before,
.navbar-header:after,
.navbar-header:before,
.navbar:after,
.navbar:before,
.pager:after,
.pager:before,
.panel-body:after,
.panel-body:before,
.row:after,
.row:before {
  display: table;
  content: " ";
}

.btn-group:after,
.btn-toolbar:after,
.clearfix:after,
.container-fluid:after,
.container:after,
dd:after,
.form-group:after,
.modal-footer:after,
.modal-header:after,
.nav:after,
.navbar-collapse:after,
.navbar-header:after,
.navbar:after,
.pager:after,
.panel-body:after,
.row:after {
  clear: both;
}

:selection {
  color: #fff;
  background: #1890ff;
}

.side__2nDe {
  width: 25%;
  min-height: 600px;
}

.content__equW {
  width: 75%;
  -webkit-transition: right 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  -o-transition: right 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  transition: right 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
}

.content-toggled__1u8I {
  right: 0;
}

.container__2Jyj {
  min-height: 600px;
  background: white;
  border-radius: 5px;
  margin-bottom: 50px;
  font-size: 14px;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.08);
  -webkit-transition: -webkit-box-shadow 0.4s;
  transition: -webkit-box-shadow 0.4s;
  -o-transition: box-shadow 0.4s;
  transition: box-shadow 0.4s;
  transition: box-shadow 0.4s, -webkit-box-shadow 0.4s;
}

.container__2Jyj:hover {
  -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.15);
}

.container__2Jyj ul {
  margin-top: 0;
  margin-bottom: 1em;
}

.sidebar-base__2RIZ ul {
  margin-top: 100px;
  -webkit-padding-start: 0;
}

.section__2T0q {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

.section__2T0q:last-child {
  padding-bottom: 20px;
}

/* .sidebar-base__2RIZ ul li {
  list-style: none;
  padding-right: 20px;
} */

.toggle-arrow__3ZiC {
  display: none;
  cursor: pointer;
}

.header__3sy_ {
  display: none;
  height: 60px;
  background-color: #edf0f1;
  font-size: 18px;
  font-weight: 700;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.section__2T0q .title__3Mve {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
  margin-left: 12px;
}

.section__2T0q .title__3Mve a {
  background-color: transparent;
  color: #1890ff;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
  -webkit-text-decoration-skip: objects;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

.active__1IwF {
  background-color: #64b9f9;
  color: white !important;
}

.active__1IwF ul li > a {
  display: block;
  color: #5a5a5a;
  padding: 15px 20px;
  border-radius: 5px;
  text-decoration: none;
}

.sidebar-base__2RIZ a:active,
.sidebar-base__2RIZ a:hover {
  outline: 0;
}

.sidebar-base__2RIZ a:hover {
  color: #40a9ff;
  text-decoration: underline;
}

.sidebar-base__2RIZ a:active,
.sidebar-base__2RIZ a:hover {
  text-decoration: none;
  outline: 0;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-angle-left:before {
  content: "\f104";
}

.header__3sy_ > :nth-child(1) {
  margin-right: 10px;
}

.header__3sy_ > :nth-child(2) {
  margin-right: 16px;
}

.fa-angle-right:before {
  content: "\f105";
}

.row-wrapper__1dH2 {
  border-bottom: 1px solid #eeeeee;
}

.fa-database:before {
  content: "\f1c0";
}

.fa-gear:before,
.fa-cog:before {
  content: "\f013";
}

.fa-user-secret:before {
  content: "\f21b";
}

.fa-shield:before {
  content: "\f132";
}

.fa-bell:before {
  content: "\f0f3";
}

.fa-credit-card:before {
  content: "\f09d";
}

.external-link__3zeB {
  color: #0088cc;
}

.fa-external-link:before {
  content: "\f08e";
}

.fa-send:before,
.fa-paper-plane:before {
  content: "\f1d8";
}

.fa-list-ul:before {
  content: "\f0ca";
}

.row__3ftQ {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  font-size: 14px;
  padding: 12px 0;
  padding-left: 12px;
  padding-right: 12px;
}

.content__9cJ2 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.title__14re {
  width: 200px;
  padding-right: 20px;
}

.desc__2m9Y {
  color: #797979;
  width: calc(80% - 200px);
  overflow-wrap: break-word;
}

.right-wrapper__3rVj {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 20%;
  flex: 1 1 20%;
  text-align: right;
  margin-left: auto;
  background: white;
}

.placeholder__18ft .desc__2m9Y {
  color: #bcbcbc;
}

.text-disabled {
  color: #bcbcbc !important;
}

.edit__J5pK {
  cursor: pointer;
  margin-left: 20px;
  color: #0088cc;
}

.website__1VxW {
  margin-bottom: 8px;
}

.website__1VxW:last-child {
  margin-bottom: 0;
}

.experience__3za5 {
  margin-bottom: 8px;
}

.experience__3za5:last-child {
  margin-bottom: 0;
}

.tags__3AYs {
  padding: 2px 7px;
  border-radius: 15px;
  line-height: 15px;
  font-weight: 400;
  font-size: 12px;
  height: auto;
  background-color: #ebf5ff;
  color: #0088cc;
  margin-right: 4px;
  margin-bottom: 2px;
  display: inline-block;
  white-space: normal;
  cursor: default;
}

.website__1VxW .title__3AT2 {
  display: block;
}

.experience__3za5 .title__MC_o {
  display: block;
}

.experience__3za5 .time__3FUK {
  font-size: x-small;
}
