{% if 'success' in message.tags %}
    <div>
        <div id="call-request-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModal2" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Call Request</h5>
                    </div>
                    <div class="modal-body"></div>
                    <div class="modal-footer">
                        <button id="btnDeclineOffer" type="button" class="btn btn-secondary">Decline</button>
                        <button id="btnAcceptOffer" type="button" class="btn btn-primary">Accept</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="offer-status-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModal3" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Call Status</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endif %}
