<!DOCTYPE html>
{% load static %}
<html lang="en">

    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon"/>
        <link rel="stylesheet" href="{% static 'styles/style.css' %}"/>
        <title>StudyBuddy - Find study partners around the world!</title>

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"/>

    </head>

    <body>

        {% include 'navbar.html' %}

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% block content %}{% endblock %}
        <script type="text/javascript" src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
        <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/sidebar.min.js' %}"></script>
    </body>

</html></html>
