{% extends 'main.html' %}

{% block content %}

    <style>
        .home-container {
            display: grid;
            grid-template-columns: 1fr 3fr 1fr;
        }
    </style>
    <!-- <h1>Home template</h1> -->

    <div class="home-container">
        <div>
           {% include 'base/topic_component.html' %}
        </div>

        <div>
            <div>
                <h5>{{ room_count }}
                    rooms available</h5>
            </div>
            <a href="{% url 'create-room' %}">Create Room</a>
            <div>
                {% include 'base/feed_component.html' %}
            </div>
        </div>

        <div>
           {% include 'base/activity_commponent.html' %}
        </div>
    </div>


{% endblock %}
