{% extends 'main.html' %}

{% block content %}
    <main class="profile-page layout layout--3">
        <div
            class="container">
            <!-- Topics Start -->
            {% include 'base/topics_component.html' %}
            <!-- Topics End -->

            <!-- Room List Start -->
                <div class="roomList"> <div class="profile">
                    <div class="profile__avatar">
                        <div class="avatar avatar--large active">
                            <img id="profile-img" src="{{ user.avator.url }}" class="online" alt=""/>
                        </div>
                    </div>
                    <div class="profile__info">
                        <div class="profile_info_container">
                            <h3>{{ user.name }}</h3>
                            <!-- <p>@{{ user.username }}</p> -->

                            {% if request.user != user %}
                                <a href="{% url 'message-chat' user.uuid %}">
                                    <div class="header__user">
                                        <button type="button" class="icon-button">
                                            <span class="material-symbols-outlined">chat</span>
                                        </button>
                                    </div>
                                </a>
                            {% endif %}
                        </div>

                        {% if request.user == user %}
                            <a href="{% url 'update-user' %}" class="btn btn--main btn--pill">Edit Profile</a>
                        {% endif %}
                    </div>
                    <div class="profile__about">
                        <h3>About</h3>
                        <p class="profile__bio">
                            {{ user.bio }}
                        </p>
                    </div>
                </div>
                {% include 'base/feed_component.html' %}


            </div>
            <!-- Room List End -->

            <!-- Activities Start -->
            {% include 'base/activity_component.html' %}
            <!-- Activities End -->
        </div>
    </main>
{% endblock content %}
