{% extends 'main.html' %}

{% block content %}
    <div class="profile_update_container">
        <div>
            <div class="header__NyBc snipcss0-0-0-1 snipcss-tI5yo">
                <div class="bg-wrapper__teZt snipcss0-1-1-2">
                    <div class="background__26YF snipcss0-2-2-3"></div>
                </div>
                <div class="container__28Ei container snipcss0-1-1-4">
                    <div class="avatar-base__19M6 snipcss0-2-4-5">
                        <a class="snipcss0-3-5-6 snip-a">
                            <img class="avatar__2sMj snipcss0-4-6-7 snip-img" src={{ user.avator.url }} alt="md_rajib's avatar"></a>
                        </div>
                        <div class="user-info__2aLr snipcss0-2-4-8">
                            <div class="name__3EWH snipcss0-3-8-9">
                                <div class="left-side__1lmO snipcss0-4-9-10"></div>
                                <div class="container__1Mii snipcss0-4-9-11">
                                    <a href={% url 'user-profile' user.id %}>
                                        <span class="name-text__1-NA snipcss0-5-11-12">{{ user.name }}</span>
                                    </a>

                                </div>
                                <div class="right-side__3zuc snipcss0-4-9-13">
                                    <a class="public__2p3C snipcss0-5-13-14 snip-a">
                                        <i class="fa fa-external-link snipcss0-6-14-15"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="leetcodeId__13b9 snipcss0-3-8-16">LeetCode ID:
                                {{ user.username }}</div>
                        </div>
                    </div>
                </div>
                <div class="container nav-toggled__2eeW nav__29df snipcss-i9Id5">
                    <div class="side__2nDe">
                        <div class="sidebar-base__2RIZ">
                            <ul class="snip-ul">
                                <li>
                                    <a aria-current="page" class="active__1IwF snip-a" href="/profile/">
                                        <i class="fa fa-address-card"></i>
                                        &nbsp; Basic Info
                                    </a>
                                </li>
                                <li>
                                    <a href="/profile/points/" class="snip-a">
                                        <i class="fa fa-database"></i>
                                        &nbsp; Points
                                    </a>
                                </li>
                                <li>
                                    <a href="/profile/account/" class="snip-a">
                                        <i class="fa fa-cog"></i>
                                        &nbsp; Account
                                    </a>
                                </li>
                                <li>
                                    <a href="/profile/lab" class="snip-a">
                                        <i class="fa fa-user-secret"></i>
                                        &nbsp; Lab
                                    </a>
                                </li>
                                <li>
                                    <a href="/profile/privacy/" class="snip-a">
                                        <i class="fa fa-shield"></i>
                                        &nbsp; Privacy
                                    </a>
                                </li>
                                <li>
                                    <a href="/profile/notifications/" class="snip-a">
                                        <i class="fa fa-bell"></i>
                                        &nbsp; Notifications
                                    </a>
                                </li>
                                <li>
                                    <a href="/subscription/" target="_blank" class="snip-a">
                                        <i class="fa fa-credit-card"></i>
                                        &nbsp; Billing &nbsp;
                                        <i class="fa fa-external-link external-link__3zeB"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="/store/orders/" target="_blank" class="snip-a">
                                        <i class="fa fa-paper-plane"></i>
                                        &nbsp; Orders &nbsp;
                                        <i class="fa fa-external-link external-link__3zeB"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="content-toggled__1u8I content__equW">
                        <div class="container__2Jyj">
                            <div class="container-header">
                                <div class="toggle-arrow__3ZiC">
                                    <i class="fa fa-angle-left"></i>
                                </div>
                                <div class="container header__3sy_">
                                    <span class="toggle-menu__1Iw2">
                                        <i class="fa fa-list-ul"></i>
                                    </span>
                                    <i class="fa fa-angle-right"></i>
                                    Basic Info
                                </div>
                            </div>
                            <div class="section__2T0q">
                                <div class="title__3Mve">
                                    Basic Info
                                </div>
                                <div>
                                    <div class="row-wrapper__1dH2">
                                        <div class="row__3ftQ">
                                            <div class="content__9cJ2">
                                                <div class="title__14re">
                                                    Name
                                                </div>
                                                <div class="desc__2m9Y">
                                                    {{ user.name }}
                                                </div>
                                                <div class="right-wrapper__3rVj">
                                                    <span class="text-disabled">
                                                        <span title="+2 LeetCode">
                                                            <i class="fa fa-database"></i>
                                                            +2
                                                        </span>
                                                    </span>
                                                    <span class="edit__J5pK">
                                                        Edit
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row-wrapper__1dH2">
                                        <div class="row__3ftQ">
                                            <div class="content__9cJ2">
                                                <div class="title__14re">
                                                    Gender
                                                </div>
                                                <div class="desc__2m9Y">
                                                    Male
                                                </div>
                                                <div class="right-wrapper__3rVj">
                                                    <span class="edit__J5pK">
                                                        Edit
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row-wrapper__1dH2">
                                        <div class="row__3ftQ">
                                            <div class="placeholder__18ft content__9cJ2">
                                                <div class="title__14re">
                                                    Location
                                                </div>
                                                <div class="desc__2m9Y">
                                                    Your location
                                                </div>
                                                <div class="right-wrapper__3rVj">
                                                    <span class="text-disabled">
                                                        <span title="+2 LeetCode">
                                                            <i class="fa fa-database"></i>
                                                            +2
                                                        </span>
                                                    </span>
                                                    <span class="edit__J5pK">
                                                        Edit
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row-wrapper__1dH2">
                                        <div class="row__3ftQ">
                                            <div class="content__9cJ2">
                                                <div class="title__14re">
                                                    Birthday
                                                </div>
                                                <div class="desc__2m9Y">
                                                    <div>
                                                        January 2, 1998
                                                    </div>
                                                </div>
                                                <div class="right-wrapper__3rVj">
                                                    <span class="edit__J5pK">
                                                        Edit
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row-wrapper__1dH2">
                                        <div class="row__3ftQ">
                                            <div class="placeholder__18ft content__9cJ2">
                                                <div class="title__14re">
                                                    Summary
                                                </div>
                                                <div class="desc__2m9Y">
                                                    Tell us about yourself (interests, experience, etc.)
                                                </div>
                                                <div class="right-wrapper__3rVj">
                                                    <span class="text-disabled">
                                                        <span title="+2 LeetCode">
                                                            <i class="fa fa-database"></i>
                                                            +2
                                                        </span>
                                                    </span>
                                                    <span class="edit__J5pK">
                                                        Edit
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row-wrapper__1dH2">
                                        <div class="row__3ftQ">
                                            <div class="content__9cJ2">
                                                <div class="title__14re">
                                                    Website
                                                </div>
                                                <div class="desc__2m9Y">
                                                    <div>
                                                        <div class="website__1VxW">
                                                            <div class="title__3AT2">
                                                                <a href="https://www.linkedin.com/in/rajib-miah-680021149/" class="snip-a">
                                                                    https://www.linkedin.com/in/rajib-miah-680021149/
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="right-wrapper__3rVj">
                                                    <span class="edit__J5pK">
                                                        Edit
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row-wrapper__1dH2">
                                        <div class="row__3ftQ">
                                            <div class="content__9cJ2">
                                                <div class="title__14re">
                                                    Github
                                                </div>
                                                <div class="desc__2m9Y">
                                                    https://github.com/RajibMiah
                                                </div>
                                                <div class="right-wrapper__3rVj">
                                                    <span class="edit__J5pK">
                                                        Edit
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row-wrapper__1dH2">
                                        <div class="row__3ftQ">
                                            <div class="content__9cJ2">
                                                <div class="title__14re">
                                                    LinkedIn
                                                </div>
                                                <div class="desc__2m9Y">
                                                    https://linkedin.com/in/rajib-miah-680021149
                                                </div>
                                                <div class="right-wrapper__3rVj">
                                                    <span class="edit__J5pK">
                                                        Edit
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row-wrapper__1dH2">
                                        <div class="row__3ftQ">
                                            <div class="placeholder__18ft content__9cJ2">
                                                <div class="title__14re">
                                                    Twitter
                                                </div>
                                                <div class="desc__2m9Y">
                                                    Your Twitter username or url
                                                </div>
                                                <div class="right-wrapper__3rVj">
                                                    <span class="text-disabled">
                                                        <span title="+2 LeetCode">
                                                            <i class="fa fa-database"></i>
                                                            +2
                                                        </span>
                                                    </span>
                                                    <span class="edit__J5pK">
                                                        Edit
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="section__2T0q">
                                <div class="title__3Mve">
                                    Experience
                                </div>
                                <div>
                                    <div class="row-wrapper__1dH2">
                                        <div class="row__3ftQ">
                                            <div class="content__9cJ2">
                                                <div class="title__14re">
                                                    Work
                                                </div>
                                                <div class="desc__2m9Y">
                                                    <div>
                                                        <div class="experience__3za5">
                                                            <div class="title__MC_o">
                                                                Inverse.AI - softwere engineer
                                                            </div>
                                                            <div class="time__3FUK">
                                                                04/2021 - 09/2021
                                                            </div>
                                                        </div>
                                                        <div class="experience__3za5">
                                                            <div class="title__MC_o">
                                                                Console-IT - softwere developer
                                                            </div>
                                                            <div class="time__3FUK">
                                                                06/2019 - 04/2021
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="right-wrapper__3rVj">
                                                    <span class="edit__J5pK">
                                                        Edit
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row-wrapper__1dH2">
                                        <div class="row__3ftQ">
                                            <div class="placeholder__18ft content__9cJ2">
                                                <div class="title__14re">
                                                    Education
                                                </div>
                                                <div class="desc__2m9Y">
                                                    Add a school
                                                </div>
                                                <div class="right-wrapper__3rVj">
                                                    <span class="text-disabled">
                                                        <span title="+2 LeetCode">
                                                            <i class="fa fa-database"></i>
                                                            +2
                                                        </span>
                                                    </span>
                                                    <span class="edit__J5pK">
                                                        Edit
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="section__2T0q">
                                <div class="title__3Mve">
                                    Skills
                                </div>
                                <div>
                                    <div class="row-wrapper__1dH2">
                                        <div class="row__3ftQ">
                                            <div class="content__9cJ2">
                                                <div class="title__14re">
                                                    Technical Skills
                                                </div>
                                                <div class="desc__2m9Y">
                                                    <div class="tags-block">
                                                        <span class="tags__3AYs">
                                                            django
                                                        </span>
                                                        <span class="tags__3AYs">
                                                            reactjs
                                                        </span>
                                                        <span class="tags__3AYs">
                                                            nextjs
                                                        </span>
                                                        <span class="tags__3AYs">
                                                            sql
                                                        </span>
                                                        <span class="tags__3AYs">
                                                            git
                                                        </span>
                                                        <span class="tags__3AYs">
                                                            html
                                                        </span>
                                                        <span class="tags__3AYs">
                                                            css
                                                        </span>
                                                        <span class="tags__3AYs">
                                                            typescript
                                                        </span>
                                                        <span class="tags__3AYs">
                                                            unity
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="right-wrapper__3rVj">
                                                    <span class="edit__J5pK">
                                                        Edit
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div></div>
                </div>


            </div>
        </div>
    {% endblock content %}
